<% if @total_seats.any? %>
  <h3>Available Seats:</h3>
  <%= form_with url:bus_reservations_path(@bus), method: :post, remote: true do |f| %>
    <%= f.hidden_field :reservation_for, value: params[:reservation_for] %>
    <div class="bus-layout">
      <div id="bus-container">
        <%= render_seats(@total_seats, @booked_seats) %>
      </div>
    </div>
    <%= f.submit "Book Seats", class:"btn btn-outline-primary book-button" %>
  <% end %>
<% else %>
  <p>No available seats for the selected date.</p>
<% end %>
