<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <%= form_with url: bus_reservations_path(@bus), remote: true do |f| %>
            <%= f.hidden_field :bus_id, value: @bus.id, id: "bus_id" %>
            <div class="form-group">
              <%= f.label :reservation_for,"Select date for Reservation" %>
              <%= f.date_field :reservation_for, id: "reservation_date", value: Date.today, min: Date.today,class:"ms-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="available-seats"></div>
<script>
  $(function() {
    $('#reservation_date').keypress(function(e){
      e.preventDefault();
    })

   $('#reservation_date').on('change', function() {
        check_availability();
     })


    function check_availability(){

         let reservation_for = $('#reservation_date').val();
         let busId = $('#bus_id').val()
         if (reservation_for) {
             $.ajax({
                 url: `/buses/${busId}/reservations/check_availability`,
                 type: 'GET',
                 data: {
                     reservation_for: reservation_for
                 },
                 success: function(response) {
                     $('#available-seats').html(response);
                 },

             })
         }

    }
    check_availability();

  })
</script>
